<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enter Customer Details</title>
</head>

<body>
    <div>
        <h1>Customer form</h1>

        <p class="lead">Enter the customers details!!!!</p>


        <form method="POST" action='/register'>
            <input type="text" class="form" name="FNAME" placeholder="Enter First Name">
            <input type="text" class="form" name="SNAME" placeholder="Enter Surename">
            <input type="text" class="form" name="PHONE_NUMBER" placeholder="Enter Phone">
            <input type="text" class="form" name="EMAIL" placeholder="Enter Email">
            <button>Submit</button>
        </form>
    </div>
</body>

</html>